<main>

  <!-- It can be viewed only in big Laptop/Desktop design view. -->
  <div class="block Tablet_Design_View:hidden Large_Mobile_Design_View:hidden Medium_Mobile_Design_View:hidden Small_Mobile_Design_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-blue-600 text-white">
      <div class="flex justify-center items-center h-auto">
        <div class="flex flex-col justify-center items-center h-auto w-auto">
          <h1 class="text-[64px] font-bold font-Space_Mono">Welcome to Home Page</h1>
          <div class="my-4">
            <p class="text-xl font-bold font-Space_Mono">For any Clarifications click here</p>
          </div>
          <button class="text-sm font-bold font-Space_Mono bg-white text-blue-600 h-[68px] w-[216px] flex justify-center items-center transition duration-100 ease-in-out hover:bg-blue-600 hover:text-white hover:border-solid hover:border-2 hover:border-white hover:font-bold" [routerLink]="['/']">Contact Us</button>
        </div>
      </div>
    </div>
  </div>

  <!-- It can be viewed only in Tablet design view. -->
  <div class="hidden Tablet_Design_View:block Large_Mobile_Design_View:hidden Medium_Mobile_Design_View:hidden Small_Mobile_Design_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-blue-600 text-white">
      <div class="flex justify-center items-center h-auto">
        <div class="flex flex-col justify-center items-center h-auto w-auto">
          <h1 class="text-6xl font-bold font-Space_Mono text-center">Welcome to Home Page</h1>
          <div class="my-4">
            <p class="text-2xl font-bold font-Space_Mono text-center">For any Clarifications click here</p>
          </div>
          <button class="text-lg font-bold font-Space_Mono bg-white text-blue-600 h-[68px] w-[216px] flex justify-center items-center transition duration-100 ease-in-out hover:bg-blue-600 hover:text-white hover:border-solid hover:border-2 hover:border-white hover:font-bold" [routerLink]="['/']">Contact Us</button>
        </div>
      </div>
    </div>
  </div>

  <!-- It can be viewed only in Large Mobile design view. -->
  <div class="hidden Tablet_Design_View:hidden Large_Mobile_Design_View:block Medium_Mobile_Design_View:hidden Small_Mobile_Design_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-blue-600 text-white">
      <div class="flex justify-center items-center h-auto">
        <div class="flex flex-col justify-center items-center h-auto 80">
          <h1 class="text-5xl font-bold font-Space_Mono text-center">Welcome to Home Page</h1>
          <div class="my-10 w-80">
            <p class="text-xl font-bold font-Space_Mono text-center">For any Clarifications click here</p>
          </div>
          <button class="text-base font-bold font-Space_Mono bg-white text-blue-600 h-[68px] w-[216px] flex justify-center items-center transition duration-100 ease-in-out hover:bg-blue-600 hover:text-white hover:border-solid hover:border-2 hover:border-white hover:font-bold" [routerLink]="['/']">Contact Us</button>
        </div>
      </div>
    </div>
  </div>

  <!-- It can be viewed only in Medium Mobile design view. -->
  <div class="hidden Tablet_Design_View:hidden Large_Mobile_Design_View:hidden Medium_Mobile_Design_View:block Small_Mobile_Design_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-blue-600 text-white">
      <div class="flex justify-center items-center h-auto">
        <div class="flex flex-col justify-center items-center h-auto w-72">
          <h1 class="text-4xl font-bold font-Space_Mono text-center">Welcome to Home Page</h1>
          <div class="my-7">
            <p class="text-lg font-bold font-Space_Mono text-center">For any Clarifications click here</p>
          </div>
          <button class="text-sm font-bold font-Space_Mono bg-white text-blue-600 h-[68px] w-[216px] flex justify-center items-center transition duration-100 ease-in-out hover:bg-blue-600 hover:text-white hover:border-solid hover:border-2 hover:border-white hover:font-bold" [routerLink]="['/']">Contact Us</button>
        </div>
      </div>
    </div>
  </div>

  <!-- It can be viewed only in Small Mobile design view. -->
  <div class="hidden Tablet_Design_View:hidden Large_Mobile_Design_View:hidden Medium_Mobile_Design_View:hidden Small_Mobile_Design_View:block">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-blue-600 text-white">
      <div class="flex justify-center items-center h-auto">
        <div class="flex flex-col justify-center items-center h-auto w-64">
          <h1 class="text-3xl font-bold font-Space_Mono text-center">Welcome to Home Page</h1>
          <div class="my-7">
            <p class="text-base font-bold font-Space_Mono text-center">For any Clarifications click here</p>
          </div>
          <button class="text-xs font-bold font-Space_Mono bg-white text-blue-600 h-[68px] w-[216px] flex justify-center items-center transition duration-100 ease-in-out hover:bg-blue-600 hover:text-white hover:border-solid hover:border-2 hover:border-white hover:font-bold" [routerLink]="['/']">Contact Us</button>
        </div>
      </div>
    </div>
  </div>

</main>
