<div>

  <!-- It can be viewed only in big Laptop/Desktop design view. -->
  <div class="block Tablet_Design_View:hidden Large_Mobile_Design_View:hidden Medium_Mobile_Design_View:hidden Small_Mobile_Design_View:hidden">
    <div class="overflow-x-hidden overflow-y-auto">
      <header class="flex justify-center items-center h-auto w-full overflow-hidden">
        <nav class="flex justify-center items-center h-auto w-full py-10 px-[77px]">
          <div class="mr-auto">
            <p class="uppercase text-2xl font-bold font-Inconsolat text-[#333333]">404 not found</p>
          </div>
        </nav>
      </header>
      <main class="flex justify-center items-center h-auto w-full overflow-hidden">
        <div class="flex justify-center items-center h-auto w-full py-10 px-[77px]">
          <div class="mr-auto">
            <img src="images/Scarecrow.png" alt="" class="h-[447.43px] w-[539.22px]" />
          </div>
          <div class="flex flex-col justify-center items-center h-auto w-9/12">
            <div class="mx-auto w-[600px]">
              <h1 class="text-[64px] font-bold font-Space_Mono text-[#333333] w-[590px]">I have bad news for you</h1>
            </div>
            <div class="mx-auto my-10 w-[600px]">
              <p class="text-2xl font-normal font-Space_Mono text-[#4F4F4F] w-[400px]">The page you are looking for might be removed or is temporarily unavailable</p>
            </div>
            <div class="mx-auto w-[600px]">
              <button class="text-sm font-bold font-Space_Mono bg-[#333333] text-[#FFFFFF] h-[68px] w-[216px] flex justify-center items-center transition duration-100 ease-in-out hover:bg-[#FFFFFF] hover:text-[#333333] hover:border-solid hover:border-2 hover:border-[#333333] hover:font-bold" [routerLink]="['/home']">Back to homepage</button>
            </div>
            <h1>hello world!</h1>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- It can be viewed only in Tablet design view. -->
  <div class="hidden Tablet_Design_View:block Large_Mobile_Design_View:hidden Medium_Mobile_Design_View:hidden Small_Mobile_Design_View:hidden">
    <div class="overflow-x-hidden overflow-y-auto">
      <header class="flex justify-center items-center h-auto w-full overflow-hidden">
        <nav class="flex justify-center items-center h-auto w-full py-6 px-7">
          <div class="mr-auto">
            <p class="uppercase text-3xl font-bold font-Inconsolat text-[#333333]">404 not found</p>
          </div>
        </nav>
      </header>
      <main class="flex justify-center items-center h-auto w-full overflow-hidden">
        <div class="flex flex-col justify-center items-center h-auto w-full py-6 px-7">
          <img src="images/Scarecrow.png" alt="" class="h-96 w-96" />
          <div class="my-6">
            <h1 class="text-7xl font-bold font-Space_Mono text-[#333333]">I have bad news for you</h1>
          </div>
          <div class="my-6">
            <p class="text-3xl font-normal font-Space_Mono text-[#4F4F4F]">The page you are looking for might be removed or is temporarily unavailable</p>
          </div>
          <div class="mr-auto mt-12">
            <button class="text-xl font-bold font-Space_Mono bg-[#333333] text-[#FFFFFF] h-[78px] w-[226px] flex justify-center items-center" [routerLink]="['/home']">Back to homepage</button>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- It can be viewed only in Large Mobile design view. -->
  <div class="hidden Tablet_Design_View:hidden Large_Mobile_Design_View:block Medium_Mobile_Design_View:hidden Small_Mobile_Design_View:hidden">
    <div class="overflow-x-hidden overflow-y-auto">
      <header class="flex justify-center items-center h-auto w-full overflow-hidden">
        <nav class="flex justify-center items-center h-auto w-full py-5 px-6">
          <div class="mr-auto">
            <p class="uppercase text-2xl font-bold font-Inconsolat text-[#333333]">404 not found</p>
          </div>
        </nav>
      </header>
      <main class="flex justify-center items-center h-auto w-full overflow-hidden">
        <div class="flex flex-col justify-center items-center h-auto w-full py-5 px-6">
          <img src="images/Scarecrow.png" alt="" class="h-[238px] w-[286.83px]" />
          <div class="my-5">
            <h1 class="text-[44px] font-bold font-Space_Mono text-[#333333]">I have bad news for you</h1>
          </div>
          <div class="my-5">
            <p class="text-lg font-normal font-Space_Mono text-[#4F4F4F]">The page you are looking for might be removed or is temporarily unavailable</p>
          </div>
          <div class="mr-auto mt-10">
            <button class="text-sm font-bold font-Space_Mono bg-[#333333] text-[#FFFFFF] h-[68px] w-[216px] flex justify-center items-center" [routerLink]="['/home']">Back to homepage</button>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- It can be viewed only in Medium Mobile design view. -->
  <div class="hidden Tablet_Design_View:hidden Large_Mobile_Design_View:hidden Medium_Mobile_Design_View:block Small_Mobile_Design_View:hidden">
    <div class="overflow-x-hidden overflow-y-auto">
      <header class="flex justify-center items-center h-auto w-full overflow-hidden">
        <nav class="flex justify-center items-center h-auto w-full py-4 px-5">
          <div class="mr-auto">
            <p class="uppercase text-xl font-bold font-Inconsolat text-[#333333]">404 not found</p>
          </div>
        </nav>
      </header>
      <main class="flex justify-center items-center h-auto w-full overflow-hidden">
        <div class="flex flex-col justify-center items-center h-auto w-full py-4 px-5">
          <img src="images/Scarecrow.png" alt="" class="h-[228px] w-[276.83px]" />
          <div class="my-4">
            <h1 class="text-4xl font-bold font-Space_Mono text-[#333333]">I have bad news for you</h1>
          </div>
          <div class="my-4">
            <p class="text-base font-normal font-Space_Mono text-[#4F4F4F]">The page you are looking for might be removed or is temporarily unavailable</p>
          </div>
          <div class="mr-auto mt-8">
            <button class="text-sm font-bold font-Space_Mono bg-[#333333] text-[#FFFFFF] h-[58px] w-[206px] flex justify-center items-center" [routerLink]="['/home']">Back to homepage</button>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- It can be viewed only in Small Mobile design view. -->
  <div class="hidden Tablet_Design_View:hidden Large_Mobile_Design_View:hidden Medium_Mobile_Design_View:hidden Small_Mobile_Design_View:block">
    <div class="overflow-x-hidden overflow-y-auto">
      <header class="flex justify-center items-center h-auto w-full overflow-hidden">
        <nav class="flex justify-center items-center h-auto w-full py-3 px-4">
          <div class="mr-auto">
            <p class="uppercase text-lg font-bold font-Inconsolat text-[#333333]">404 not found</p>
          </div>
        </nav>
      </header>
      <main class="flex justify-center items-center h-auto w-full overflow-hidden">
        <div class="flex flex-col justify-center items-center h-auto w-full py-3 px-4">
          <img src="images/Scarecrow.png" alt="" class="h-[218px] w-[266.83px]" />
          <div class="my-3">
            <h1 class="text-3xl font-bold font-Space_Mono text-[#333333]">I have bad news for you</h1>
          </div>
          <div class="my-3">
            <p class="text-sm font-normal font-Space_Mono text-[#4F4F4F]">The page you are looking for might be removed or is temporarily unavailable</p>
          </div>
          <div class="mr-auto mt-6">
            <button class="text-xs font-bold font-Space_Mono bg-[#333333] text-[#FFFFFF] h-[48px] w-[196px] flex justify-center items-center" [routerLink]="['/home']">Back to homepage</button>
          </div>
        </div>
      </main>
    </div>
  </div>

</div>
